<!DOCTYPE html>
<!-- <h1>Edit Person</h1>
<md-input-container>
  <label>Edit Name</label>
  <input ng-model="$ctrl.newName">
</md-input-container>
<md-button class="md-primary" ng-click="$ctrl.editPerson()">Edit</md-button> -->

<div layout="column" flex >
  <side-nav></side-nav>
  <md-content layout="column" flex class="conContainer">
    <h1 class="text-center">Edit Person</h1>
    <md-input-container>
      <label>Edit Name</label>
      <input ng-model="$ctrl.newName">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="$ctrl.editPerson()">Edit</md-button>
  </md-content>
</div>
