<!DOCTYPE html>
<h1>List of people</h1>
<h3 ng-repeat="person in $ctrl.people">
  {{person.name}}
  <a href="http://localhost:3000/#/person/edit/{{person._id}}">Edit</a>
  <md-button class="blue md-primary" ng-click="$ctrl.deletePerson(person._id)">Delete</md-button>
</h3>
<hr>
<span>Create New Person</span>
<br>
<md-input-container>
  <label>Name</label>
  <input type="text" ng-model="$ctrl.name">
</md-input-container>
<md-button class="blue md-primary" ng-click="$ctrl.newPerson()">New Person</md-button>
