.text-center {
  text-align: center
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.marginLeft {
  margin-left: 1em;
}

.marginTop {
  margin-top: 1em;
}

.conContainer {
  margin: 0 auto;
  max-width: 50em;
}

table, th, td {
    border: 1px solid pink;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
