.text-center {
  text-align: center
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.marginLeft {
  margin-left: 1em;
}

.marginTop {
  margin-top: 1em;
}

.floating {
  float: right;
}
